.App {
  text-align: center;
  background-color: beige;
  color: firebrick;
  cursor: url(http://cur.cursors-4u.net/food/foo-5/foo516.cur), auto;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

li {
  list-style-type: none;
}

#favourites-list {
  padding-left: 10px;
  padding-right: 10px;
  border-style: dashed;
  border-width: 1px;
}

button {
  color: blue;
  background-color: lightblue;
  border-radius: 8px;
}

button:hover {
 box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24);
}

#cocktail-selector{
  background-color: yellow;
}
